@import './variables/variables.scss';

body {
  position: relative;
  margin: 0;
  font-family: bree, yrsa,continuo, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $grey;
}
